<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 pull-right">
            <input type="text" name="search" placeholder="Search Here...." ng-model="search" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-bordered table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usr in vm.users | filter: search">
                        <td>{{ usr.userId }}</td>
                        <td>{{ usr.username }}</td>
                        <td>{{ usr.email }}</td>
                        <td>{{ usr.role }}</td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-click="vm.sendFriendRequest(usr.userId)" ng-disabled="vm.isFriend(usr.userId) || vm.hasRequestSent(usr.userId)">Send Request</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>