<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Friend's Name</th>
                        <th>Online</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="friend in vm.friends">
                        <td>
                            <a href="" class="btn btn-link" ng-click="vm.chat(friend.user.username)">{{ friend.user.username | uppercase }}</a>
                        </td>
                        <td>
                        	{{ friend.user.online }}
                        </td>
                        <td>
                        	<a class="btn btn-block btn-info btn-lg" ng-click="vm.chat(friend.user.username)">Chat</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
            <a href="#!/findFriends" class="btn btn-link btn-block btn-lg">Find Friends</a>
            <br>
            <a href="#!/friendRequests" class="btn btn-link btn-block btn-lg">View Friend Requests</a>
        </div>
    </div>
</div>