<div class="container-fluid">
    <div class="row">
        <form method="post" class="form-horizontal" role="form" name="form">
            <h2>Event Creation/Updation Form</h2>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-center">
                    <input type="text" name="eventId" class="form-control" disabled="disabled" ng-model="vm.Event.eventId">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-center">
                    <input type="text" name="title" class="form-control" ng-model="vm.Event.title" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 text-center">
                    <input type="text" name="description" class="form-control" ng-model="vm.Event.description" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                    <label><input name="eventStatus" type="radio" ng-model="vm.Event.status" value="EVENT_NEW"> New</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                    <label><input name="eventStatus" type="radio" ng-model="vm.Event.status" value="EVENT_DONE"> Done</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center" ng-show="vm.Event.eventId === undefined">
                    <button type="submit" class="btn btn-primary" ng-click="vm.createEvent(vm.Event)">Create</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center" ng-hide="vm.Event.eventId === undefined">
                    <button type="submit" class="btn btn-primary" ng-click="vm.updateEvent(vm.Event)">Update</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="evt in vm.events">
                        <td>{{ evt.eventId }}</td>
                        <td>{{ evt.title }}</td>
                        <td>{{ evt.description }}</td>
                        <td>{{ evt.status }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary" ng-click="vm.editEvent(evt.eventId)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>